<div #wrapperUi [ngClass]="appliedClasses()" class="mb-6 overflow-auto relative min-h-52">
    @if (!isLoading() || data().length) {
        <table
            #table
            id="small-list-table"
            mat-table
            [dataSource]="data()"
            cdkDropList
        >
            @for (header of headers(); track header.key) {
                <ng-container [matColumnDef]="header.key" [sticky]="$first" [stickyEnd]="$last">
                    @if (header.isSortable) {
                        <th mat-header-cell *matHeaderCellDef>
                            <div class="flex items-center gap-2">
                                <button
                                    (keydown.enter)="updateFilterSignal(header.key)"
                                    (click)="updateFilterSignal(header.key)"
                                    class="flex items-center gap-2 w-fit cursor-pointer"
                                    type="button">
                                    <p class="text-xs font-medium whitespace-nowrap" [attr.aria-label]="header.label | translate">
                                        {{ header.label | translate }}
                                    </p>
                                    <img
                                        ngSrc="assets/images/icons/double-vert-chevron.svg"
                                        priority="true"
                                        width="8"
                                        height="10"
                                        [alt]="'SORT' | translate"
                                    />
                                </button>
                            </div>
                        </th>
                    } @else {
                        <th mat-header-cell *matHeaderCellDef>
                            <div
                                class="flex items-center gap-4">
                                <p class="text-xs font-medium whitespace-nowrap" [attr.aria-label]="header.label | translate">
                                    {{ header.label | translate }}
                                    @if (header.labelIconUrl) {
                                        @if (header.labelIconTooltipText && header.labelIconTooltipTitle) {
                                            <mat-menu
                                                [attr.aria-labelledby]="'tooltipTitle tooltipText'"
                                                [hasBackdrop]="false"
                                                class="menu--large"
                                                #columnIconMenu="matMenu">
                                                <div class="px-6 py-4 max-w-[22rem]">
                                                    <p id="tooltipTitle" class="font-medium text-xs mb-4">
                                                        {{ header.labelIconTooltipTitle | translate }}
                                                    </p>
                                                    <hr class="absolute start-0 end-0" />
                                                    <p id="tooltipText" class="font-light text-xs mt-8">
                                                        {{ header.labelIconTooltipText | translate }}
                                                    </p>
                                                </div>
                                            </mat-menu>
                                            <button
                                                [attr.aria-labelledby]="'tooltipTitle tooltipText'"
                                                class="outline-none"
                                                type="button"
                                                [matMenuTriggerFor]="columnIconMenu"
                                                #columnIconMenuTrigger="matMenuTrigger"
                                                (focus)="columnIconMenuTrigger.openMenu()"
                                                (click)="columnIconMenuTrigger.openMenu()"
                                                (mouseover)="columnIconMenuTrigger.openMenu()"
                                                (mouseleave)="columnIconMenuTrigger.closeMenu()"
                                                (focusout)="columnIconMenuTrigger.closeMenu()"
                                            >
                                                <img
                                                    class="max-w-none"
                                                    [src]="header.labelIconUrl | translate"
                                                    width="16"
                                                    height="14"
                                                    [alt]="header.labelIconTooltipTitle"
                                                />
                                            </button>
                                        } @else {
                                            <img
                                                class="max-w-none"
                                                [src]="header.labelIconUrl"
                                                width="16"
                                                height="14"
                                                [alt]="header.labelIconTooltipTitle ?? '' | translate"
                                            />
                                        }
                                    }
                                </p>
                            </div>
                        </th>
                    }
                    <td
                        class="whitespace-nowrap"
                        mat-cell
                        *matCellDef="let row">
                        <div class="flex justify-between items-center gap-1">
                            @if (
                                !row[header.key] &&
                                emptyCellValue() !== "" &&
                                header.type !== TableHeaderType.Toggle &&
                                row[header.key] !== false
                                ) {
                                <span>{{ emptyCellValue() }}</span>
                            } @else {
                                @switch (header.type) {
                                    @case (TableHeaderType.Boolean) {
                                        <p [ngClass]="getRowAppliedClasses(row, header)"
                                            [attr.aria-label]="(header.label | translate) + ' ' + (row[header.key] | translate)">
                                            {{ (row[header.key] ? "YES" : "NO") | translate }}
                                        </p>
                                    }
                                    @case (TableHeaderType.Toggle) {
                                        <mat-slide-toggle
                                            [disabled]="!!toggleButtonDisableHashMap()?.get(row.id)"
                                            [(ngModel)]="row[header.key]"
                                            (change)="toggleRow($event, row)"
                                        ></mat-slide-toggle>
                                    }
                                    @case (TableHeaderType.Date) {
                                        @if (isDateValid(row[header.key])) {
                                            <p
                                                [ngClass]="getRowAppliedClasses(row, header)"
                                                [attr.aria-label]="(header.label | translate) + ' ' + (row[header.key] | customDate: header.includeTimeInDate)"
                                            >{{ row[header.key] | customDate: header.includeTimeInDate }}
                                            </p>
                                        }
                                    }
                                    @default {
                                        @if (header.maxTextLength && row[header.key].length > header.maxTextLength) {
                                            <div class="flex items-center gap-1">
                                                <p
                                                    [ngClass]="getRowAppliedClasses(row, header)"
                                                    [attr.aria-label]="(header.label | translate) + ' ' + row[header.key]"
                                                    class="whitespace-nowrap"
                                                >
                                                    {{ row[header.key] | truncate: header.maxTextLength }}
                                                </p>
                                            </div>
                                        } @else {
                                            <p
                                                [ngClass]="getRowAppliedClasses(row, header)"
                                                [attr.aria-label]="(header.label | translate) + ' ' + row[header.key]"
                                                class="whitespace-nowrap"
                                            >
                                                {{ row[header.key] ?? '-' }}
                                            </p>
                                        }
                                    }
                                }
                            }
                            @if ($last) {
                                <div class="flex items-center gap-2">
                                    @if (actions()) {
                                        <button
                                            type="button"
                                            [matMenuTriggerFor]="actionsMenu"
                                            [attr.aria-label]="'DROPDOWN_MENU' | translate"
                                            class="cursor-pointer flex items-center bg-white justify-center rounded border border-black-300"
                                        >
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #actionsMenu="matMenu">
                                            @for (action of actions(); track action.labelFn) {
                                                @if (!action.isVisible || action.isVisible.call(this, row)) {
                                                    <button
                                                        type="button"
                                                        [attr.aria-label]="action.labelFn(row) | translate"
                                                        (keydown.enter)="action.callbackFn(row)"
                                                        (click)="action.callbackFn(row)"
                                                        mat-menu-item
                                                    >
                                                        {{ action.labelFn(row) | translate }}
                                                    </button>
                                                }
                                            }
                                        </mat-menu>
                                    }
                                </div>
                            }
                        </div>
                    </td>
                </ng-container>
            }
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    }
    @if (!isLoading() && !data().length) {
        <div class="bg-black-50 flex items-center justify-center py-8 rounded border border-black-300">
            <p [attr.aria-label]="'NO_RESULTS' | translate" class="text-xs font-light">{{ "NO_RESULTS" | translate }}</p>
        </div>
    }
    @if (isLoading()) {
        <ps-loading-overlay></ps-loading-overlay>
    }
</div>
