<!--&lt;!&ndash;FIRST ROW&ndash;&gt;-->
<!--<div class="flex flex-row gap-4">-->
<!--    &lt;!&ndash; Name &ndash;&gt;-->
<!--    <ps-input-->
<!--        [control]="formgroup.controls.name"-->
<!--        [label]="COMPANY.CREATE.TITLE"-->
<!--    ></ps-input>-->

<!--    &lt;!&ndash; CVR &ndash;&gt;-->
<!--    <ps-input-->
<!--        [control]="formgroup.controls.name"-->
<!--        [label]="COMPANY.CREATE.TITLE"-->
<!--    ></ps-input>-->
<!--</div>-->

<!--<hr class="bg-black" />-->

<!--&lt;!&ndash;SECOND ROW&ndash;&gt;-->
<!--<div class="flex flex-row gap-4">-->
<!--    &lt;!&ndash; StreetName &ndash;&gt;-->
<!--    <ps-input-->
<!--        [control]="formgroup.controls.adress.streetNumber"-->
<!--        [label]="COMPANY.CREATE.ADDRESS.STREETNAME"-->
<!--    ></ps-input>-->

<!--    &lt;!&ndash; HouseNumber &ndash;&gt;-->
<!--    <ps-input-->
<!--        [control]="formgroup.controls.houseNumber"-->
<!--        [label]="COMPANY.CREATE.ADDRESS.HOUSENUMBER"-->
<!--    ></ps-input>-->

<!--    &lt;!&ndash; Door &ndash;&gt;-->
<!--    <ps-input-->
<!--        [control]="formgroup.controls.adress.door"-->
<!--        [label]="COMPANY.CREATE.ADDRESS.DOOR"-->
<!--    ></ps-input>-->

<!--    &lt;!&ndash; Floor &ndash;&gt;-->
<!--    <ps-input-->
<!--        [control]="formgroup.controls.floor"-->
<!--        [label]="COMPANY.CREATE.ADDRESS.FLOOR"-->
<!--    ></ps-input>-->

<!--    &lt;!&ndash; CountryId &ndash;&gt;-->
<!--    <ps-select-field-->
<!--        [control]="formgroup.controls.adress.countryId"-->
<!--        [label]="COMPANY.CREATE.ADDRESS.COUNTRY"-->
<!--        [dropDownOptions]=""></ps-select-field>-->

<!--    &lt;!&ndash; PostalCde &ndash;&gt;-->
<!--    <ps-input-->
<!--        [control]="formgroup.controls.address.postalCOde"-->
<!--        [label]="COMPANY.CREATE.ADDRESS.HOUSENUMBER"-->
<!--    ></ps-input>-->
<!--</div>-->


<div class="r-screen-[25rem] p-4 relative">
    <ps-sub-header
        [label]="'JOB_TITLE.NAME_PLURAL' | translate"
        [tooltip]="'JOB_TITLE.TOOLTIP' | translate"
    ></ps-sub-header>
    <div class="flex flex-row justify-between mt-12">
        <ps-small-header [heading]="'JOB_TITLE.OVERVIEW'  | translate"
        [subheading]="'JOB_TITLE.DESCRIPTION' | translate : { sourceLevel : sourceLevel()}"
        ></ps-small-header>
        <div class="flex flex-row justify-between gap-6">
            <ps-search-input [searchSignal]="searchSignal" [placeholder]="'SEARCH'" appliedClass="!w-[18.75rem]"></ps-search-input>
            <ps-button
                (click)="openJobTitlePopup(false)"
                appliedClasses="!px-6"
                buttonStyleType="button--primary"
                buttonType="button"
                class="!ms-auto"
                imageAlt="ADD"
                imageSrc="../../../assets/images/icons/plus.svg"
                label="CREATE_NEW"
            />
        </div>
    </div>
    <ps-small-list-table
        [data]="paginatedData.results()"
        [headers]="headers"
        [isLoading]="isTableLoading"
        [sortingFilterSignal]="sortingFilterSignal"
        [actions]="actions"
        (toggleItem)="updateJobTitleInheritance($event)"
    />
    <ps-pagination [paginationValues]="paginatedData"></ps-pagination>
</div>


