@if(isLoading) {
    <ps-loading-overlay></ps-loading-overlay>
} @else {
    <div class="flex flex-row gap-4 flex basis-1/5">
        <ps-calendar-side-panel
            *ngIf="!hideSidePanel"
            [calendarOption]="calendarOption"
            [currentDate]="currentDate"
            [selectedDate]="selectedDate"
            [selectedMonth]="selectedMonth"
            [selectedWeek]="selectedWeek"
            [daysInMonth]="daysInMonth"
            [currentSelectedDay]="currentSelectedDay!"
            (onCheckButtonClick)="onCheckButtonClick()">
        </ps-calendar-side-panel>
        <ps-calender-table
            class="flex-grow basis-4/5"
            [calendarOption]="calendarOption"
            [currentDate]="currentDate"
            [selectedDate]="selectedDate"
            [selectedMonth]="selectedMonth"
            [selectedWeek]="selectedWeek"
            [workHours]="workHours"
            [workSchedule]="workSchedule()"
            [daysInMonth]="daysInMonth"
            [currentSelectedDay]="currentSelectedDay!"
            [workTimes]="workTimes"
        ></ps-calender-table>
    </div>
}
