@if (isLoading) {
    <ps-loading-overlay></ps-loading-overlay>
} @else {
   <form class="flex flex-col gap-4" (focusout)="patchSettings()" [formGroup]="formGroup">
        <div class="flex flex-col gap-4">
            <ps-small-header
                heading="USER.SETTINGS.NAME"
            ></ps-small-header>
            <ps-toggle-input
                label="USER.SETTINGS.WORK_SCHEDULE.AUTO_CHECK_IN_OUT.NAME"
                tooltip="USER.SETTINGS.WORK_SCHEDULE.AUTO_CHECK_IN_OUT.TOOLTIP"
                [control]="formGroup.controls.autoCheckInOut"
                (toggleChanged)="patchSettings()"
            ></ps-toggle-input>
            <ps-toggle-input
                label="USER.SETTINGS.WORK_SCHEDULE.AUTO_CHECK_OUT_DISABLED.NAME"
                tooltip="USER.SETTINGS.WORK_SCHEDULE.AUTO_CHECK_OUT_DISABLED.TOOLTIP"
                [control]="formGroup.controls.autoCheckOutDisabled"
                (toggleChanged)="patchSettings()"
            ></ps-toggle-input>
        </div>
        <div class="flex flex-col gap-4">
            <ps-small-header
                heading="USER.SETTINGS.WORK_SCHEDULE.WORK_SCHEDULE_NAME"
            ></ps-small-header>
        </div>
        <div class="flex gap-4 flex-col">
            <ps-small-header
                heading="USER.SETTINGS.PRIVACY.PRIVACY_SETTINGS"
                tooltip="USER.SETTINGS.PRIVACY.TOOLTIP"
            ></ps-small-header>
            <ps-toggle-input
                label="USER.SETTINGS.PRIVACY.PRIVATE_EMAIL"
                [control]="formGroup.controls.isEmailPrivate"
                (toggleChanged)="patchSettings()"
            ></ps-toggle-input>
            <ps-toggle-input
                label="USER.SETTINGS.PRIVACY.PRIVATE_ADDRESS"
                [control]="formGroup.controls.isAddressPrivate"
                (toggleChanged)="patchSettings()"
            ></ps-toggle-input>
            <ps-toggle-input
                label="USER.SETTINGS.PRIVACY.PRIVATE_PHONE_NUMBER"
                [control]="formGroup.controls.isPhoneNumberPrivate"
                (toggleChanged)="patchSettings()"
            ></ps-toggle-input>
            <ps-toggle-input
                label="USER.SETTINGS.PRIVACY.PRIVATE_BIRTHDAY"
                [control]="formGroup.controls.isBirthdayPrivate"
                (toggleChanged)="patchSettings()"
            ></ps-toggle-input>
        </div>

    </form>
}
