<div class="sticky top-0 z-10">
    <ps-dialog-header
        [label]="
      componentInputs.isEditPopup
        ? 'JOB_TITLE.EDIT.TITLE'
        : 'JOB_TITLE.CREATE.TITLE'
    "
        [tooltipLabel]="
      componentInputs.isEditPopup
        ? 'JOB_TITLE.EDIT.TITLE'
        : 'JOB_TITLE.CREATE.TOOLTIP'
    "
    ></ps-dialog-header>
</div>
@if(isPageLoading) {
    <ps-loading-overlay></ps-loading-overlay>
} @else {
    <div class="p-6">
        <ps-small-header
            [heading]="componentInputs.isEditPopup
            ? 'JOB_TITLE.EDIT.NAME'
            : 'JOB_TITLE.CREATE.NAME' | translate"
        ></ps-small-header>
        <ps-input label="NAME" [control]="formGroup.controls.name"></ps-input>
        <div class="pt-6">
            <hr class="border-black-100 absolute start-0 end-0" />
        </div>
        <ps-small-header
            appliedClasses="mt-6"
            heading="JOB_TITLE.ACTIVATED.NAME"
            subheading="JOB_TITLE.ACTIVATED.DESCRIPTION"
        ></ps-small-header>
        <mat-slide-toggle
            class="text-sm font-light mt-4"
            [checked]="formGroup.controls.isInheritanceActive.value"
            (change)="toggleActivated()"
        >{{ "JOB_TITLE.ACTIVATED.IS_ACTIVE" | translate }}
        </mat-slide-toggle>
    </div>
}
<div class="py-3 bg-black-50 flex border border-black-100 px-6 sticky bottom-0 z-10 justify-between">
    <ps-button
        [appliedClasses]="'!py-3 !px-6'"
        (click)="closeDialog()"
        label="CANCEL"
        buttonStyleType="button--tertiary"
        buttonType="button"
    />
    <ps-button
        [appliedClasses]="'!py-3 !px-6'"
        [label]="componentInputs.isEditPopup ? 'SAVE' : 'CREATE' | translate"
        buttonStyleType="button--primary"
        buttonType="button"
        [isLoading]="isFormSubmitting"
        (click)="submitForm()"
    />
</div>
