@switch (calendarOption().value) {
    @case(CalendarOptions.Day) {
        <button
            class="w-[2rem] h-[2rem] flex items-center justify-center cursor-pointer hover:bg-gray-200"
            (click)="setSelectedDate()"
            [ngClass]="{
                'text-gray-400': day().value.isMonth !== DayInfoMonth.Current,
                'text-white !bg-blue-700 rounded-full': isCurrentDate(),
                'bg-blue-100 text-blue-600': isSelectedDate()}">
            <span>{{ day().value.date }}</span>
        </button>
    }
    @case(CalendarOptions.Week) {
        <button
            class="w-[2rem] h-[2rem] flex items-center justify-center cursor-pointer"
            (click)="setSelectedDate()"
            (mouseenter)="onHoverStart()"
            (mouseleave)="onHoverEnd()"
            [ngClass]="{
            'text-gray-400': day().value.isMonth !== DayInfoMonth.Current,
            'bg-primary-selected border-y border-black-500': isRowSelected(),
            'border-l': isFirstInWeek(),
            'border-r': isLastInWeek(),
            'bg-gray-300': isHovered(),
            'bg-primary-selected-hovered': isRowSelectedAndHovered()}">
            <span [ngClass]="{'w-[1.5rem] h-[1.5rem] py-0.5 bg-primary rounded-full': isCurrentDate()}">{{ day().value.date }}</span>
        </button>
    }
    @case(CalendarOptions.WorkWeek) {
        <button
            class="w-[2rem] h-[2rem] flex items-center justify-center cursor-pointer"
            (click)="setSelectedDate()"
            (mouseenter)="onHoverStart()"
            (mouseleave)="onHoverEnd()"
            [ngClass]="{
                'text-gray-400': day().value.isMonth !== DayInfoMonth.Current,
                'bg-primary-selected border-y border-black-500': isRowSelected(),
                'border-l': isFirstInWeek(),
                'border-r': isLastInWeek(),
                'bg-gray-300': isHovered(),
                'bg-primary-selected-hovered': isRowSelectedAndHovered()}">
            <span [ngClass]="{'w-[1.5rem] h-[1.5rem] py-0.5 bg-primary rounded-full': isCurrentDate()}">{{ day().value.date }}</span>
        </button>
    }
    @case (CalendarOptions.Month) {
        <button
            class="w-[2rem] h-[2rem] flex items-center justify-center cursor-pointer hover:bg-gray-200"
            (click)="setSelectedDate()"
            [ngClass]="{
                'text-gray-400': day().value.isMonth !== DayInfoMonth.Current,
                'text-white !bg-blue-700 rounded-full': isCurrentDate(),
                'bg-blue-100 text-blue-600': isSelectedDate()}">
            <span>{{ day().value.date }}</span>
        </button>
    }
}
