@if (isLoading()) {
    <ps-loading-overlay></ps-loading-overlay>
} @else {
    <div class="flex flex-col gap-4">
        @for (workScheduleWorkShiftFormGroup of castControlFromAbstractToFormArray(formGroup().controls['workScheduleShifts']).controls; track workScheduleWorkShiftFormGroup) {
            <ps-work-schedule-shift
                [formGroup]="castControlFromAbstractToFormGroup(workScheduleWorkShiftFormGroup)"
                (valuesChanged)="valuesChanged.emit()"
            ></ps-work-schedule-shift>
        }
    </div>
}
