@if (isLoading()) {
    <ps-loading-overlay></ps-loading-overlay>
} @else {
    <div class="relative bg-white rounded-lg select-none flex flex-col gap-2 w-fit px-3 py-3">
        <div class="flex gap-2 pe-3 flex-wrap">
            @for (dayOfWeek of Object.values(DayOfWeek); track dayOfWeek) {
                <mat-checkbox
                    [disabled]="formGroup().disabled"
                    [checked]="selectedDaysOfTheWeek.includes(castStringToDayOfWeek(dayOfWeek))"
                    (change)="selectedDayChanged({ event: $event, day: castStringToDayOfWeek(dayOfWeek)})"
                >
                    {{ DayOfWeekTranslationMapper.get(castStringToDayOfWeek(dayOfWeek))! | translate}}
                </mat-checkbox>
            }
        </div>
        <ps-line></ps-line>
        <div class="flex flex-col gap-4 mt-2 select-none">
            @for (workScheduleWorkShiftFormGroup of castControlFromAbstractToFormArray(formGroup().controls['workScheduleShifts']).controls; track workScheduleWorkShiftFormGroup) {
                <ps-work-schedule-shift
                    [formGroup]="castControlFromAbstractToFormGroup(workScheduleWorkShiftFormGroup)"
                    (valuesChanged)="valuesChanged.emit()"
                ></ps-work-schedule-shift>
            }
            @if (canSave()) {
                <ps-button
                    label="SAVE"
                    buttonStyleType="button--primary"
                    buttonType="button"
                    (click)="updateWorkSchedule.emit(formGroup().getRawValue())"
                    [isLoading]="isUpdating()"
                ></ps-button>
            }
        </div>
    </div>
}
