@if (isPageLoading) {
    <ps-loading-overlay></ps-loading-overlay>
} @else {
    <div>
        <ps-small-header heading="COMPANY.COMPANY_INFO" subheading="COMPANY.FILL_COMPANY_DETAILS"></ps-small-header>

        <form [formGroup]="formGroup" (focusout)="patchDetails()">
            <div class="mb-6"></div>
            <!-- ICompany Name Section -->
            <ps-line></ps-line>
            <div class="flex flex-col gap-4 mb-6 pt-6">
                <div class="flex flex-wrap gap-3 justify-start">
                    <ps-input
                        [control]="formGroup.controls.name"
                        label="COMPANY.NAME_SPECIFIC">
                    </ps-input>
                    <ps-input
                        type="number"
                        [control]="formGroup.controls.cvr"
                        label="COMPANY.VAT">
                    </ps-input>
                </div>
            </div>

            <!-- Address Section -->
            <ps-address-input [addressFormGroup]="formGroup.controls.address"></ps-address-input>
            <div class="mt-4">
                <ps-toggle-input
                    label="INHERIT_ADDRESS"
                    [control]="formGroup.controls.inheritAddress"
                    (toggleChanged)="onInheritedToggled($event)"
                >
                </ps-toggle-input>
            </div>
            <ps-line appliedClasses="my-4 mt-4"></ps-line>

            <!-- Contact Information Section -->
            <div class="flex flex-col gap-4 pt-6">
                <ps-small-header heading="CONTACT.NAME"></ps-small-header>

                <div class="flex flex-wrap gap-3">
                    <ps-input
                        [control]="formGroup.controls.careOf"
                        label="CONTACT.CARE_OF">
                    </ps-input>
                    <ps-input
                        [control]="formGroup.controls.contactName"
                        label="CONTACT.CONTACT_NAME">
                    </ps-input>
                    <ps-input
                        [control]="formGroup.controls.contactEmail"
                        label="CONTACT.CONTACT_EMAIL">
                    </ps-input>
                    <ps-input
                        type="number"
                        [control]="formGroup.controls.contactPhoneNumber"
                        label="CONTACT.CONTACT_PHONENUMBER">
                    </ps-input>
                </div>
            </div>
        </form>
    </div>
}
