<div class="sticky top-0 z-10">
    <ps-dialog-header
        [label]="'COMPANY.CREATE.TITLE'"
        [tooltipLabel]="'COMPANY.CREATE.TOOLTIP'"
    ></ps-dialog-header>
</div>

@if(isPageLoading){
    <ps-loading-overlay></ps-loading-overlay>
} @else {
    <div class="p-6">
        <!-- Company Information Section -->
        <ps-small-header heading="COMPANY.COMPANY_INFO" subheading="COMPANY.FILL_COMPANY_DETAILS"></ps-small-header>
        <ps-line></ps-line>
        <div class="flex flex-col gap-4 mt-6">
            <div class="flex flex-col md:flex-row gap-3 justify-start">
                <ps-input
                    [control]="formGroup.controls.name"
                    label="COMPANY.NAME_SPECIFIC">
                </ps-input>
                <ps-input
                    type="number"
                    [control]="formGroup.controls.cvr"
                    label="COMPANY.VAT">
                </ps-input>
            </div>
        </div>

        <!-- Address Section -->
        <ps-line></ps-line>
        <div class="flex flex-col gap-4 mt-10 pt-10">
            <ps-small-header heading="ADDRESS.NAME"></ps-small-header>

            <div class="flex flex-col md:flex-row gap-3 justify-start">
                <ps-input
                    [control]="formGroup.controls.address.controls.streetName"
                    label="ADDRESS.STREET_NAME">
                </ps-input>
                <ps-input
                    [control]="formGroup.controls.address.controls.houseNumber"
                    label="ADDRESS.HOUSE_NUMBER">
                </ps-input>
            </div>

            <div class="flex flex-col md:flex-row gap-3 justify-start">
                <ps-input
                    [control]="formGroup.controls.address.controls.door"
                    label="ADDRESS.DOOR">
                </ps-input>
                <ps-input
                    [control]="formGroup.controls.address.controls.floor"
                    label="ADDRESS.FLOOR">
                </ps-input>
            </div>

            <div class="flex flex-col md:flex-row gap-3">
                <ps-input
                    [control]="formGroup.controls.address.controls.postalCode"
                    label="ADDRESS.ZIPCODE">
                </ps-input>
                <ps-select-field
                    dropDownLabel="ADDRESS.COUNTRY"
                    [dropDownOptions]="countries"
                    [selectMultipleOptions]="false"
                    [control]="formGroup.controls.address.controls.countryId">
                </ps-select-field>
            </div>
        </div>
    </div>
}

<div class="sticky bottom-0 z-10 flex justify-between p-6">
    <ps-button
        label="CANCEL"
        buttonStyleType="button--tertiary"
        buttonType="buttonType"
        (click)="closeDialog()"
    ></ps-button>
    <ps-button
        label="CREATE"
        buttonStyleType="button--primary"
        buttonType="buttonType"
        (click)="submitForm()"
    ></ps-button>
</div>
