<div class="sticky top-0 z-10">
    <ps-dialog-header
        [label]="'COMPANY.CREATE.TITLE'"
        [tooltipLabel]="'COMPANY.CREATE.TOOLTIP'"
    ></ps-dialog-header>
</div>

@if(isPageLoading) {
    <ps-loading-overlay></ps-loading-overlay>
} @else {
    <div class="p-6">
        <!-- Company Information Section -->
        <ps-small-header heading="COMPANY.COMPANY_INFO" subheading="COMPANY.FILL_COMPANY_DETAILS"></ps-small-header>
        <ps-line></ps-line>
        <div class="flex flex-col gap-4 mt-6">
            <div class="flex flex-col md:flex-row gap-3 justify-start">
                <ps-input
                    [control]="formGroup.controls.name"
                    label="COMPANY.NAME_SPECIFIC">
                </ps-input>
                <ps-input
                    type="number"
                    [control]="formGroup.controls.cvr"
                    label="COMPANY.VAT">
                </ps-input>

            </div>
        </div>

        <!-- Address Section -->

            <ps-address-input [addressFormGroup]="formGroup.controls.address"></ps-address-input>

        <ps-line appliedClasses="mt-10 my-4"></ps-line>

        <!-- Contact Information Section -->

        <div class="flex flex-col gap-4 mt-10 pt-10">
            <ps-small-header heading="CONTACT.NAME"></ps-small-header>

            <div class="flex flex-col md:flex-row gap-3">
                <ps-input
                    [control]="formGroup.controls.careOf"
                    label="CONTACT.CARE_OF">
                </ps-input>
                <ps-input
                    [control]="formGroup.controls.contactName"
                    label="CONTACT.CONTACT_NAME">
                </ps-input>
                <ps-input
                    [control]="formGroup.controls.contactEmail"
                    label="CONTACT.CONTACT_EMAIL">
                </ps-input>
                <ps-input
                    type="number"
                    [control]="formGroup.controls.contactPhoneNumber"
                    label="CONTACT.CONTACT_PHONENUMBER">
                </ps-input>
            </div>
        </div>
    </div>
}

<div class="sticky bottom-0 z-10 flex justify-between p-6">
    <ps-button
        label="CANCEL"
        buttonStyleType="button--tertiary"
        buttonType="buttonType"
        (click)="closeDialog()"
    ></ps-button>
    <ps-button
        label="CREATE"
        buttonStyleType="button--primary"
        buttonType="buttonType"
        (click)="submitForm()"
    ></ps-button>
</div>
