@if(this.calendarOption() === CalendarOptions.Month) {
    <td class="block border border-gray-200 text-start align-top p-1 w-full h-full" (click)="onMonthDateClick()" (dblclick)="onColumnClick()"
        [ngClass]="{
             'bg-gray-100': isPastDate(),
             'bg-white': !isPastDate(),
             '!border-blue-300': isSelectedDate(),
             '!border-primary': isCurrentDate()}">
        <div class="flex flex-col gap-2"><span
            class="w-[2rem] h-[1rem] flex justify-center items-center"
            [ngClass]="{'text-white border rounded-full bg-primary': isCurrentDate()}"
        >{{getDate()}}</span>
            <span *ngIf="isColumnChecked()" class="text-center">{{getWorkTimeDuration()}}</span>
        </div>
    </td>
} @else {
    <td class="block border border-gray-200 h-[1.25rem]"
        (click)="onColumnClick()"
        [ngClass]="columnClasses">
    </td>
}
