<div class="w-full h-[100dvh] justify-center items-center flex">
    @if (userId !== undefined) {
        <form [formGroup]="formGroup" class="flex flex-col justify-center items-center gap-4 relative w-fit">
            <img ngSrc="assets/images/PlanSphereLogo.png" alt="Logo" height="128" width="128" class="absolute top-0 -translate-y-[110%]">
            <ps-input
                label="NEW_PASSWORD"
                type="password"
                [control]="formGroup.controls.password"
            ></ps-input>
            <ps-input
                label="NEW_CONFIRM_PASSWORD"
                type="password"
                [control]="formGroup.controls.confirmPassword"
            ></ps-input>
            <ps-button
                label="RESET_PASSWORD"
                (click)="resetPassword()"
                buttonStyleType="button--primary"
                buttonType="button"
                [isLoading]="isLoading"
            ></ps-button>
        </form>
    } @else {
        <div class="flex flex-col justify-center items-center gap-4 relative w-fit">
            <img ngSrc="assets/images/PlanSphereLogo.png" alt="Logo" height="128" width="128" class="absolute top-0 -translate-y-[110%]">
            <ps-input
                label="EMAIL"
                type="email"
                [control]="emailControl"
            ></ps-input>
            <ps-button
                label="FORGOT_PASSWORD"
                (click)="requestPasswordReset()"
                buttonStyleType="button--primary"
                buttonType="button"
                [isLoading]="isLoading"
            ></ps-button>
            @if (requestSent){
                <p>{{"RESET_SENT" | translate}}</p>
            }
        </div>
    }
</div>
